<body>
  <div class="subcategory category-description">
    <h2 class="subcategory-title category-description-title">
      <%= subcategoryInfo.name %>
    </h2>
    <p class="category-description-text">
      <%= subcategoryInfo.info %>
    </p>
  </div>

  <div>
    <% _.each(item, function(subC) { %>
    <div class="subcategory-item">
      <% if (subC.image) { %>
      <div>
        <img class="subcategory-item-img" src="/images/<%= subC.image %>" />
      </div>
      <% } else { %>
      <div class="missing-image"><%= subC.name %></div>
      <% } %>
      <p class="subcategory-item-description">
        <% if (subC.image !== undefined) { %>
        <span class="subcategory-item-title"><%= subC.name %></span>, <% } %>
        <%= subC.page_description %>
      </p>
      <a href="<%- subC.parent_category_id + '/' + subC.id %>">
        <button class="subcategory-item-button" type="button">
          View <%= subC.name %>
        </button>
      </a>
    </div>
    <% }); %>
  </div>
</body>
