<body>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= item.page_title %>
      </h1>
      <h2 class="subtitle">
        <%= item.page_description %>
      </h2>
    </div>
  </div>

  <div class="columns is-multiline">
    <% item.categories.map(subC => { %>
    <div class="card column is-half is-offset-one-quarter category">
      <% if (subC.image) { %>
      <div class="card-image">
        <figure class="image">
          <img src="/images/<%= subC.image %>" alt="Placeholder image" />
        </figure>
      </div>
      <% } %>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <% if (subC.image !== undefined) { %>
            <p class="title is-5"><%= subC.name %></p>
            <% } else { %>
            <p class="title is-3"><%= subC.name %></p>
            <% } %>
            <p class="subtitle is-6"><%= subC.page_description %></p>
            <a href="<%- item.id + '/' + subC.id %>">
              <button class="button is-primary">View <%= subC.name %></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</body>
